services:
  gitlab:
    image: "{{ gitlab_image }}"
    container_name: "{{ gitlab_container_name }}"
    restart: always
    hostname: {{ gitlab_hostname }}
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url "https://{{ gitlab_hostname }}"

        nginx['listen_port'] = 80
        nginx['listen_https'] = false
        gitlab_rails['trusted_proxies'] = ['{{ hostvars["nginx"].ansible_host }}']

        registry_nginx['enable'] = false
        registry['enable'] = true
        gitlab_rails['registry_enabled'] = true
        registry['registry_http_addr'] = "0.0.0.0:5000"
        registry['external_url'] = "https://{{ gitlab_registry_hostname }}"
        registry['token_realm'] = "https://{{ gitlab_hostname }}"

        gitlab_rails["gitlab_shell_ssh_port"] = {{ gitlab_ssh_port }}
        gitlab_rails['max_attachment_size'] = 500
        gitlab_rails["monitoring_whitelist"] = [{{ gitlab_monitoring_whitelist | map('to_json') | join(', ') }}]
    ports:
      - "80:80"
      - "443:443"
      - "5000:5000"
      - "{{ gitlab_ssh_port }}:22"
    volumes:
      - "{{ gitlab_dir_path }}/config:/etc/gitlab"
      - "{{ gitlab_dir_path }}/logs:/var/log/gitlab"
      - "{{ gitlab_dir_path }}/data:/var/opt/gitlab"
    shm_size: "256m"